<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :team_name %>
  </div>

  <div>
    <h2>Games</h2>
    <div>
      <%= f.fields_for :schedule_slots do |slot| %>
        <%= render partial: 'schedule_slot_fields', f: slot %>
      <% end %>

      <div>
        <% link_to_add_association 'Add Game', f, :schedule_slots %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
